a, p, span, h1, h2, h3, h4, h5, h6 {
  color: $dark_color;
  font-family: 'Work-Sans', sans-serif;
}

// Jazzy styled button
button.purple {
  &, &:active, &:visited, &:focus {
    background-color: $main_color;
    border-color: $main_color;
  }
  span {
    color: white;
  }
  &:hover {
    background-color: $dark_color;
    border-color: $dark_color;
  }
}

// Flex classes
.flex {
  &__column {
    display: flex;
    flex-direction: column;
    &.cen-ver { justify-content: center; }
    &.cen-hor { align-items: center; }
  }
  &__row {
    display: flex;
    &.cen-hor { justify-content: center; }
    &.cen-ver { align-items: center; }
  }
}

// Text styles:
.text-center { text-align: center; }
.light {
  font-weight: 300!important;
}
.bold {
  font-weight: 800!important;
}

// Container as AntUI does not provide one:
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
  .full-height {
    height: calc(100vh - #{$navbar_height});
  }
}
