@import './variables';
@import './custom_layout';

@mixin modern_shadow() {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 25px 50px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #e9e9e9;
  .container {
    height: 100%;
    > * {
      height: 100%;
    }
  }
  .nav--logo {
    float: left;
    margin-right: 64px;
    a {
      line-height: $navbar_height;
      display: block;
      img {
        display: inline-block;
        margin: auto;
        vertical-align: middle;
      }
    }
  }
  ul {
    float: left;
    background-color: transparent;
    border-bottom: none;
  }
  .options {
    button {
      margin-right: 40px;
      @media screen and (max-width: 825px) {
        display: none;
      }
    }
    .user {
      img {
        margin-right: 8px;
      }
      .user--info {
        span {
          line-height: normal;
        }
      }
    }
  }
  .right {
    float: right;
  }
}

.ant-menu-horizontal > .ant-menu-item {
  &.ant-menu-item-selected, &:hover {
    border-color: $main_color
  }
  & > a:hover {
    color: $main_color;
  }
}

.ant-layout-content {
  padding: 0px 50px;
  height: calc(100vh - #{$navbar_height});
  background-color: #fafafa;
}



.loader {
  display: flex;
  flex: 1;
  & > div {
    margin: auto;
  }
}

.gnomes {
  height: calc(100vh - #{$navbar_height});
  padding-top: 24px;
  h1 {
    margin-bottom: 8px;
  }
  .list {
    overflow-y: scroll;
    border: 1px solid $light_gray;
    background-color: white;
    border-radius: $border_radius;
    @include modern_shadow();
    thead { display: none; }
    tbody tr {
      cursor: pointer;
      &:hover td {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
    .gnome--info {
      img {
        height: 40px;
        width: auto;
        margin-right: 8px;
      }
      span.age {
        font-size: 0.6rem;
        color: grey;
      }
    }
    .gnome--strength {
      float: right;
      margin-right: 8px;
      .bar {
        $bar_height: 6px;
        height: $bar_height;
        border-radius: $border_radius;
        background-color: #e8eaef;
        overflow: hidden;
        margin-right: 8px;
        .bar--fill {
          height: $bar_height;
          background-color: $main_color;
          border-radius: $border_radius;
        }
      }
      span.strength--value {
        margin-right: 16px;
      }
      span.strength {
        font-weight: 800;
      }
    }
  }
  .pagination {
    margin: 16px auto 16px;
    z-index: 1;
    li{
      &.ant-pagination-prev:hover, &.ant-pagination-next:hover {
        border-color: $main_color;
        a { color: $main_color; }
      }
      &.ant-pagination-jump-next::after {
        color: $main_color;
      }
      &.ant-pagination-item:hover {
        border-color: $main_color;
        a { color: $main_color; }
      }
      &.ant-pagination-item-active {
        background-color: $main_color;
        border-color: $main_color;
        &:hover a {
          color: white;
        }
      }
    }
  }
}

form.update-gnome {
  button[type="submit"] {
    background-color: $main_color;
    border-color: $main_color;
    span { color: white; }
  }
}
